{% extends 'crud/base.html' %}
{% block content %}
    <div>
        <br/>
        
        <form action="{% url 'busca_telefone' %}" class="form-group" method="get">
            <div class="row">
                <div class="form-group mx-sm-1 col-md-6 mb-2">
                <input name="buscatel" id="buscatel" type="" class="form-control" placeholder="Digite o Nome ou parte do nome a buscar">
            </div>
            <button type="submit" style="background-color: #8a67b5; border-color: #8a67b5; color: white" class="btn btn-secondary btn-sm mb-2">Buscar</button></div>
            
        </form>
    </div>
    {% if telefones %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
        <caption>Lista de Telefones</caption>
        <thead style="background-color: #ecd9fa; color: purple">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Dono</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
        {% for telefone in telefones %}
            <tr>
                <td> {{ telefone.id }}</td>
                <td>{{ telefone.dono}} </td>
                <td>{{ telefone.telefone }}</td>
                <td><a href="{% url 'editar_telefone' telefone.id %}" style="background-color: #672f8f; color: white" class="btn btn-sm btn-block">Editar</a></td>
                <td><a href="{% url 'deletar_telefone' telefone.id %}" style="background-color: #672f8f; color: white" class="btn btn-sm btn-block">Deletar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>Nenhum resultado encontrado!</h2>
    {% endif %}
    <div class="span3">
        <a href="{% url 'novo_telefone' %}" style="background-color: #8a67b5; border-color: #8a67b5" class="btn btn-primary">Novo telefone</a>
        <a href="{% url  'opcoesbusca' %}" style="background-color: #8a67b5; border-color: #8a67b5" class="btn btn-primary">Voltar</a>
        <a href="{% url 'busca_produto' %}" style="background-color: #8a67b5; border-color: #8a67b5" class="btn btn-primary">Produtos</a>
    </div>  
</div>
{% endblock %}